/* ====== MENÚ LATERAL ====== */
header button {
    font-size: 2,5em;
    border-radius: 10px;
    padding-bottom: 50px;
    width: 45px;

}
/*====== Menú del Boton ====== */
.menu-btn {
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    
}
/* ====== Barra Lateral ====== */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(11, 97, 97);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    color: white;
    z-index: 1000;
}
/* ====== Cerrar Botón ====== */
.close-btn {
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.close-btn:hover{
    color: rgb(24, 23, 23);
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-justify: auto;
    text-decoration: none;
}
li a:hover{
    color: rgb(24, 23, 23);
}
/* ====== CONTENIDO PRINCIPAL ======*/
section button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.822);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgba(12, 100, 100, 0.993);
}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-image: url("/Imag/Arduino_ftdi_chip-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 100;
}
header .logo{
    margin: 0;
    padding: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    color: white;
    -webkit-text-stroke: 1px black;
}
header .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
.contenido-principal{
    margin-top: 140px;
}
h1{
    font-size: 3em;
}
section img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}
/* ====== CONTENIDO PRINCIPAL: +INFO - HTML ====== */
/* TITULO */
#titulo-hero h1{
    text-align: center;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* IMAGEN de PORTADA */
#titulo-hero .imag-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 75vh;
    background-image: url("/Imag/HTML5\ logo\ HD\ -\ MI\ PORTAL.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SUBTITULOS */
#titulo-hero .titulo-html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.8em;
}
/* ====== TEXTO ====== */
p{
    text-align: center;
    font-size: 1em;
}

/* ¿Que se conoce por HTML? */
#que-es-html h3{
    text-align: center;
    font-size: 1.5em;
}
#que-es-html .img-queeshtml{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
    background-image: url("/Imag/what-is-html.jpg");
    background-position: center;
    background-size: cover;
}
/* ¿Quien fue el Creador de HTML? */
#master-html h3{
    text-align: center;
    font-size: 1.5em;
}
#master-html h4{
    text-align:left;
    margin-top: 0;
}
#master-html .imag-timbernerslee{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background-image: url("/Imag/Sir_Tim_Berners-Lee.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
}

/* ¿Para qué se lo utiliza?¿Cual es su función principal? */
#utilidad-funcion h3{
    text-align: center;
    font-size: 1.5em;
}
.imag-utilidad-funcion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background-image: url("/Imag/html-lenguaje-marcado-hipertexto-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*====== SECTOR DE FORMULARIOS ======*/
.seccion-formulario{
    background-color: rgb(7, 59, 59);
    color:white;
    text-align: center;
}
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}
input{
    margin-bottom: 5px;
}
/* ====== FOOTER ====== */
footer{
    background-color: rgb(30, 30, 30);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    padding: 25px;
    text-align: center;
    top: 0;
}



/* ====== CONTENIDO PRINCIPAL: +INFO - CSS ====== */
/* TITULO */
#titulo-herocss h1{
    text-align: center;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* IMAGEN de PORTADA */
#titulo-herocss .img-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 75vh;
    background-image: url("/Imag/css.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SUBTITULOS */
#titulo-herocss .titulo-css{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.8em;
}
/* ====== TEXTO ====== */
p{
    text-align: center;
    font-size: 1em;
}

/* ¿Que se conoce por CSS? */
#que-es-css h3{
    text-align: center;
    font-size: 1.5em;
}
#que-es-css .img-queescss{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
    background-image: url("/Imag/css-image-styling.jpg");
    background-position: center;
    background-size: cover;
}
/* ====== ¿Quien fue el Creador de CSS? ======= */
#master-css h3{
    text-align: center;
    font-size: 1.5em;
}
#master-css h4{
    text-align:left;
    margin-top: 0;
}
#master-css .imag-hakonwiumlie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background-image: url("/Imag/IMG_5294.JPG");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
}

/* ====== ¿Para qué se lo utiliza CSS?¿Cual es su función principal? ======= */
#utilidad-funcion-css h3{
    text-align: center;
    font-size: 1.5em;
}
.img-utilidad-funcion-css{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background-image: url("/Imag/codigo-css.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*====== SECTOR DE FORMULARIOS ======*/
.seccion-formulario{
    background-color: rgb(7, 59, 59);
    color:white;
    text-align: center;
}
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}
input{
    margin-bottom: 5px;
}

/* ====== CONTENIDO PRINCIPAL: +INFO - JAVASCRIPT ====== */
/* TITULO */
#titulo-hero-js h1{
    text-align: center;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* IMAGEN de PORTADA */
#titulo-hero-js .img-hero-js{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 100vh;
    background-image: url("/Imag/Baixar\ javascript\ logotipo\ png\,\ javascript\ ícone\ transparente\ png.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SUBTITULOS */
#titulo-hero-js .titulo-js{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.8em;
}
/* ====== TEXTO ====== */
p{
    text-align: center;
    font-size: 1em;
}

/* ¿Que se conoce por JAVASCRIPT? */
#que-es-js h3{
    text-align: center;
    font-size: 1.5em;
}
#que-es-js .img-queesjava{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
    background-image: url("/Imag/Baixar\ javascript\ logotipo\ png\,\ javascript\ ícone\ transparente\ png.jpeg");
    background-position: center;
    background-size: cover;
}
#que-es-css .html-css{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    flex-direction: column;
    background-image: url("/Imag/que-es-css.jpg");
    background-position: center;
    background-size: cover;
}
/* ¿Quien fue el Creador de JAVASCRIPT? */
#master-java h3{
    text-align: center;
    font-size: 1.5em;
}
#master-java h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    margin-top: 10px;
}
#master-css a{
    color: blue;
    text-align: center;
}
#master-css .imag-hakonwiumlie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/Imag/IMG_5294.JPG");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
}

/* ¿Para qué se lo utiliza?¿Cual es su función principal? */
#utilidad-funcion-css h3{
    text-align: center;
    font-size: 1.5em;
}
.imag-utilidad-funcion-css{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background-image: url("/Imag/codigo-css.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*====== SECTOR DE FORMULARIOS ======*/
.seccion-formulario{
    background-color: rgb(7, 59, 59);
    color:white;
    text-align: center;
}
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}
input{
    margin-bottom: 5px;
}

/* ====== CONTENIDO PRINCIPAL: +INFO - JAVASCRIPT ====== */
/* TITULO */
#titulo-hero-js h1{
    text-align: center;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* IMAGEN de PORTADA */
#titulo-hero-js .img-hero-js{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 75vh;
    background-image: url("/Imag/Baixar\ javascript\ logotipo\ png\,\ javascript\ ícone\ transparente\ png.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SUBTITULOS */
#titulo-hero-js .titulo-html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.8em;
}
/* ====== TEXTO ====== */
p{
    text-align: center;
    font-size: 1em;
}

/* ¿Que se conoce por HTML? */
#que-es-html h3{
    text-align: center;
    font-size: 1.5em;
}
#que-es-js .img-queesjava{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    flex-direction: column;
    background-image: url("/Imag/1622118129706.png");
    background-position: center;
    background-size: cover;
}
/* ¿Quien fue el Creador de HTML? */
#master-java h3{
    text-align: center;
    font-size: 1.5em;
}
#master-java h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    margin-top: 20px;
}
#master-java .imag-brendaneich{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150vh;
    background-image: url("/Imag/Brendan-Eich.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
}

/* ¿Para qué se lo utiliza JAVASCRIPT?¿Cual es su función principal? */
#utilidad-funcion-js h3{
    text-align: center;
    font-size: 1.5em;
}
.imag-utilidad-funcion-js{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    background-image: url("/Imag/funciones.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*====== SECTOR DE FORMULARIOS ======*/
.seccion-formulario{
    background-color: rgb(7, 59, 59);
    color:white;
    text-align: center;
}
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}
input{
    margin-bottom: 5px;
}
/* ====== FOOTER ====== */
footer{
    background-color: rgb(30, 30, 30);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    padding: 25px;
    text-align: center;
    top: 0;
}

/* ====== CONTENIDO PRINCIPAL: +INFO - PYTHON ====== */
/* TITULO */
#titulo-hero-python h1{
    text-align: center;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* IMAGEN de PORTADA */
#titulo-hero-python .imag-hero-py{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 100vh;
    background-image: url("/Imag/wallpaper\ Python\ -\ Notebook.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SUBTITULOS */
#titulo-hero-python .titulo-py{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.8em;
}
/* ====== TEXTO ====== */
p{
    text-align: center;
    font-size: 1em;
}

/* ¿Que se conoce por PYTHON? */
#que-es-python h3{
    text-align: center;
    font-size: 1.5em;
}
#que-es-python .img-queespython{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    background-image: url("/Imag/99f12253-59b5-4050-8247-6b0816e25172.png");
    background-position: center;
    background-size: cover;
}
/* ¿Quien fue el Creador de HTML? */

#master-py h3{
    text-align: center;
    font-size: 1.5em;
}
#master-py h4{
    text-align:left;
    margin-top: 0;
}
#master-py .img-guidovan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/Imag/Guido_van_Rossum_in_PyConUS24.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
}

/* ¿Para qué se lo utiliza PYTHON?¿Cual es su función principal? */
#utilidad-funcion-py p{
    text-align: center;
    font-size: 1,2em;
}
#utilidad-funcion-py h3{
    text-align: center;
    font-size: 1.5em;
}
#utilidad-funcion-py h4{
    font-size: 1,8em;
}
.imag-utilidad-funcion-py{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    background-image: url("/Imag/funct4-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*====== SECTOR DE FORMULARIOS ======*/
.seccion-formulario{
    background-color: rgb(7, 59, 59);
    color:white;
    text-align: center;
}
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}
input{
    margin-bottom: 5px;
}
/* ====== FOOTER ====== */
footer{
    background-color: rgb(30, 30, 30);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    padding: 25px;
    text-align: center;
    top: 0;
}



