/* ====== MENÚ LATERAL ====== */
header button {
    font-size: 2,5em;
    border-radius: 10px;
    padding-bottom: 50px;
    width: 45px;

}
/*====== Menú del Boton ====== */
.menu-btn {
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    
}
/* ====== Barra Lateral ====== */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(11, 97, 97);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    color: white;
    z-index: 1000;
}
/* ====== Cerrar Botón ====== */
.close-btn {
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.close-btn:hover{
    color: rgb(24, 23, 23);
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-justify: auto;
    text-decoration: none;
}
li a:hover{
    color: rgb(24, 23, 23);
}

/* ====== CONTENIDO PRINCIPAL ======*/
section button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.822);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgba(12, 100, 100, 0.993);
}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-image: url("/Imag/Arduino_ftdi_chip-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 100;
}
header .logo{
    margin: 0;
    padding: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    color: white;
    -webkit-text-stroke: 1px black;
}
header .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
/* ====== CONTENIDO PRINCIPAL ====== */
.container-carousel{
    margin-top: 150px;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}
#carouselExample img{
    display: flex;
    align-items: center;
    background-position: center center;
    background-size: cover;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image:
    url("/Imag/Programmer.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}
#aprende-mas .container{
    text-align: center;
    padding: 100px 12px;
}
#nuestras-secciones{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestras-secciones h3{
    font-size: 4em;
    color: rgb(0, 0, 0);
}
#nuestras-secciones p{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    -webkit-text-stroke: 0.8px black;
}
#nuestras-secciones .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}
.carta:first-child{
    background-image: url("/Imag/HTML5\ logo\ HD\ -\ MI\ PORTAL.jpeg");

}
.carta:nth-child(2){
    background-image: url("/Imag/css.jpeg");
}
.carta:nth-child(3){
    background-image: url("/Imag/Baixar\ javascript\ logotipo\ png\,\ javascript\ ícone\ transparente\ png.jpeg");
}
.carta:nth-child(4){
    text-decoration-color: white;
    background-image: url("/Imag/python\ logo.jpeg");
}
 /*====== BOTONES DE LA PAGINA "HOME" ====== */
a button:hover{
    background-color:rgb(30, 30, 30)
}
/*====== SECTOR DE FORMULARIOS ======*/
.seccion-formulario{
    background-color: rgb(7, 59, 59);
    color:white;
    text-align: center;
}
label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}
/* ====== FOOTER ====== */
footer{
    background-color: rgb(30, 30, 30);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    padding: 25px;
    text-align: center;
}
/* ====== MODO ESCRITORIO */
@media (min-width: 750px){
    header .container{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    #aprende-mas .container{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    #aprende-mas .texto{
        width: 100%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container h5{
        font-size: 1em;
    }
    #aprende-mas .img-container{
        background-image: url("/Imag/descarga.jpeg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 1500px;
        margin: 25px;
    }
    #nuestras-secciones .programas{
        display: flex;
        justify-content: center;
    }
    #nuestras-secciones h3{
        margin-top: 75px;
        font-size: 4em;
    }
    #nuestras-secciones p{
        display: block;
        margin-bottom: 30px;
    }
    #nuestras-secciones .carta{
        padding: 15px;
    }
}